<ion-content [fullscreen]="true">
  <img id="item_style" src="https://images.unsplash.com/photo-1512790182412-b19e6d62bc39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" alt="Snow">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div id="container"> 
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6"></ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
          <ion-col>
            <ion-row size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="4">
              <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
                <ion-item >
                 <ion-label position="floating">First Name</ion-label>
                 <ion-input type="text" [(ngModel)]="firstname" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
                <ion-item >
                 <ion-label position="floating">Middle Name</ion-label>
                 <ion-input type="text" [(ngModel)]="middlename" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
                <ion-item >
                 <ion-label position="floating">Last Name</ion-label>
                 <ion-input type="text" [(ngModel)]="lastname" required></ion-input>
               </ion-item>
              </ion-col>
            </ion-row>
            <ion-row size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
              <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="6">
                <ion-item >
                 <ion-label position="floating">Primary Contact</ion-label>
                 <ion-input type="text" [(ngModel)]="primarycontact" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="6">
                <ion-item >
                 <ion-label position="floating">Secondary Contact</ion-label>
                 <ion-input type="text" [(ngModel)]="secondarycontact" required></ion-input>
               </ion-item>
              </ion-col>
            </ion-row>
            <ion-row size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                <ion-item >
                 <ion-label position="floating">House/Flat No</ion-label>
                 <ion-input type="text" [(ngModel)]="houseno" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                <ion-item >
                 <ion-label position="floating">Street</ion-label>
                 <ion-input type="text" [(ngModel)]="street" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                <ion-item >
                 <ion-label position="floating">Area</ion-label>
                 <ion-input type="text" [(ngModel)]="area" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                <ion-item >
                 <ion-label position="floating">LandMark*</ion-label>
                 <ion-input type="text" [(ngModel)]="landmark" required></ion-input>
               </ion-item>
              </ion-col>
            </ion-row>
            <ion-row size-xs="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
              <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                <ion-item >
                 <ion-label position="floating">City</ion-label>
                 <ion-input type="text" [(ngModel)]="city" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                <ion-item >
                 <ion-label position="floating">State</ion-label>
                 <ion-input type="text" [(ngModel)]="state" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                <ion-item >
                 <ion-label position="floating">Country</ion-label>
                 <ion-input type="text" [(ngModel)]="country" required></ion-input>
               </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                <ion-item >
                 <ion-label position="floating">Zip</ion-label>
                 <ion-input type="text" [(ngModel)]="zip" required></ion-input>
               </ion-item>
              </ion-col>
            </ion-row>
            <ion-button expand="full" (click)="saveProfile()">Save</ion-button>
          </ion-col> 
        </ion-col>
      </ion-row>
     </ion-grid>
  </div>
 
