<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row   size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4" >
  <ion-card *ngFor="let f of postlist" style="width: 30%;">
  <img src="{{f.mediaurl}}"/>
  <ion-card-header>
    <ion-card-title>{{f.title}}</ion-card-title>
    <ion-card-subtitle>{{f.subtitle}}</ion-card-subtitle>
   
  </ion-card-header>
  <ion-card-content>
    <ion-col>
      {{f.description}} 
      <ion-item>
        <ion-button fill="outline" slot="end" (click)=submit(f)>Apply</ion-button>
      </ion-item>
    </ion-col>
  </ion-card-content>
</ion-card>
  </ion-row>

</ion-content>
