<ion-content [fullscreen]="true" class="middle_conn">
  <img id="item_style" src="https://images.unsplash.com/photo-1471967183320-ee018f6e114a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80" alt="Snow">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div id="container"> 
   <ion-grid>
    <ion-row size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="4">
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2"></ion-col>
      <ion-col style="align-self: center;" size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="8">
        <ion-row style="align-self: center;">
          <ion-col size-xs="12" size-sm="12" size="12" size-lg="4" size-xl="4">
            <ion-item lines="full">
              <ion-label position="floating">First Name</ion-label>
              <ion-input type="text" #firstname required></ion-input>
            </ion-item>
          </ion-col> 

          <ion-col size-xs="12" size-sm="12" size="12" size-lg="4" size-xl="4">
            <ion-item lines="full">
              <ion-label position="floating">Middle Name</ion-label>
              <ion-input type="text" #middlename required></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size="12" size-lg="4" size-xl="4">
            <ion-item lines="full">
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" #lastname required></ion-input>
            </ion-item>
          </ion-col>
      
          
        </ion-row>
        <ion-row style="align-self: center;">
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="2" size-xl="2"></ion-col>
          <ion-col size-xs="12" size-sm="12" size="12" size-lg="4" size-xl="4">
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" #email required></ion-input>
            </ion-item>
          </ion-col> 

          <ion-col size-xs="12" size-sm="12" size="12" size-lg="4" size-xl="4">
            <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" #password required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="2" size-xl="2"></ion-col>
        </ion-row>
        <ion-button class="form-button" type="submit" (click)="register(firstname,middlename,lastname,email,password)" >Register</ion-button>
        
       
          
          
            <div class="divider line one-line;" style="color: white;">or</div>
            <ion-button class="form-button" type="submit" color="danger" (click)="authService.GoogleAuth()">Signin with Google</ion-button>
            <div style="height: 10px;"></div>
             <!-- <ion-button type="submit" style="background-color: #3B5598;"  >Signin with Facebook</ion-button> -->
       
      </ion-col>
      
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2"></ion-col>
    </ion-row> 
   </ion-grid>
   </div>
 

   <!-- <div >
     <img class="center_img" src="https://pngimage.net/wp-content/uploads/2018/05/dummy-logo-png-8.png">
    <h1 class="heading_ls">Your Review is Your Power</h1>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-button class="form-button" type="submit" (click)="register(email, password)" expand="block">Register</ion-button>

    
</div> -->
